<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4NNOpj850Rr7fVoCf2Doc1GC5HGChtaU</string>
	<key>GCM_SENDER_ID</key>
	<string>73493702931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jahyrm.blocFirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>flutter-bloc-login-1878f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bloc-login-1878f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73493702931:ios:bc3dcee61ecd51a24b52e6</string>
</dict>
</plist>